.App {
  text-align: center;
  width: 100%;
}
.js-scroll.scrolled {
  opacity: 1;
}
.js-scroll {
  opacity: 0;
  transition: opacity 1000ms;
}
.App-header {
  background-image: url(./headerImage6.png);
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-content{
  padding: 10%;
  justify-content: center;
}
.header-title-ElinSimon{
  font-size: calc(100px + 2vmin);
  font-family: "Cormorant", serif;
  letter-spacing: 2px;
  color: #8F021E;
  align-items: center;
  padding:10%;
}

.header-small-title{
  margin-top: 1%;
  font-size: calc(2px + 2vmin);
  color: #8F021E;
  font-family: "Lato", serif;
  letter-spacing: 1px;
}
.header-date-small{
  margin-top: 1%;
  font-size: calc(2px + 2vmin);
  color: #8F021E;
  font-family: "lato", serif;
  font-weight: 400;
  letter-spacing: 1px;

}
.header-location{
  margin-top: 1%;
  font-size: calc(2px + 2vmin);
  color: #8F021E;
  font-family: "Cormorant", serif;

}
.header-button{
  padding: 2%;
}
.OSA-button{
  color: #FFF7CF;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    background-color:  #8F021E;
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 2vh;
    border: none;
    cursor: pointer;
    width:100px;
    font-family: "lato", serif;
    font-weight: 400;
}

.submit-button{
    color: #FFF7CF;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    background-color:  #8F021E;
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 2vh;
    border: none;
    cursor: pointer;
    width:100px;
    font-family: "lato", serif;
    font-weight: 400;
}
.submit-button:hover{
  background-color:  #610013;;
}
.submit-button:focus{
  background-color:  #8f132c;
}

.App-link {
  color: #61dafb;
}
.Section-description{
  font-size: 0.8em;
  color: #8F021E;
  font-family: "lato", serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.Section-description-light{
  color: #FFF7CF;
  font-size: 0.8em;
  font-family: "lato", serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.Schedule-content{
  background-color: #282B80;
  color: #FFF7CF;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Schedule-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:10%;
    justify-content: center;
}
.Schedule-image-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
    padding:10%;
  
}
.Church-image{
  max-width: 80%;
}
.Info-content{
  background-color: #FFF7CF;
  color: #610013;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Info-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:10%;
    justify-content: center;
}
.Info-image-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
  
}
.Info-content-2{
  background-color: #610013;
  color: #FFF7CF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Section-title{
  font-family:"Cormorant", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(50px + 2vmin);
  margin-bottom: 10%;
  letter-spacing: 1px;
}
.Form-content{
  background-image: url(./footerImage.png);
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form-container{
  color: #8F021E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-right:10%;
    padding-left: 0.5%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
    }
.form-description{
  color:#8F021E;
  display: flex;
  flex-direction: column;
  width:60%;
  padding:10%;
  justify-content: center;
  font-size: 0.8em;
}
.form-container form{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: left;
  row-gap: 1em;
}
.form-input-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.3em;
}
.form-radio-section{
  display: flex;
    width: 80%;
    column-gap: 1em;
    flex-direction: column;
    row-gap: 1em;
    cursor: pointer;
}
.form-radio-item{
  display: flex;
  column-gap: 1em;
  cursor: pointer;
}
.form-container label {
  font-size: 0.8em;
  text-align: left;
}
.form-container input {
  border-radius: 5px;
  border: none;
  letter-spacing: 0.1em;
  background: #ffffff;
  color:#717171;
  font-size: 0.7em;
  padding: 0.5em;
  font-family: 'Lato';
}

.submit-button{
    color: #FFF7CF;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    background-color:  #8F021E;
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 2vh;
    border: none;
    cursor: pointer;
    width:100px;
}
.submit-button:hover{
  background-color:  #610013;;
}
.submit-button:focus{
  background-color:  #8f132c;
}

@media only screen and (max-width: 600px) {
  .form-container {
    padding:5%;
    margin-top: 10%;
    justify-content: center;
  }
    .form-description{
    width:100%;
    padding:5%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin-top: 10%;
    }
  .header-title-ElinSimon{
    font-size: calc(50px + 2vmin);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
    padding-top: 20%;
}
.Form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Schedule-container{
  padding:5%;
  margin-top: 10%;
  justify-content: center;
}
.Schedule-image-container{
  width:100%;
  padding:5%;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin-top: 10%;
  
}
.Church-image{
  max-width: 80%;
}

}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cormorant-light> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.cormorant-regular> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cormorant-medium {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.cormorant-semibold {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cormorant-bold {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}
