.App {
  text-align: center;
}
.js-scroll.scrolled {
  opacity: 1;
}
.js-scroll {
  opacity: 0;
  transition: opacity 1000ms;
}
.App-header {
  background-image: url(./headerImage.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title-ElinSimon{
  font-size: calc(70px + 2vmin);
  font-family: "Arapey", serif;
  color: #efefe3;
  align-items: center;
  padding:20%;

}
.App-link {
  color: #61dafb;
}

.Schedule-content{
  background-color: #efefe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Info-content{
  background-color: #625548;
  color: #efefe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Section-title{
  font-family:"Arapey", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(50px + 2vmin);
}
.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110%;
    background-color:  #efefe3;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    padding-top: 10%;
    }

.form-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 1em;
}
.form-input-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 0.3em;
}
.form-radio-section{
  display: flex;
    width: 80%;
    column-gap: 1em;
    flex-direction: column;
    row-gap: 1em;
    cursor: pointer;
}
.form-radio-item{
  display: flex;
  column-gap: 1em;
  cursor: pointer;
}
.form-container label {
  font-size: 0.8em;
  text-align: left;
}
.form-container input {
  border-radius: 5px;
  border: none;
  letter-spacing: 0.1em;
  background: #ffffff;
  color:#625548;
  font-size: 0.7em;
  padding: 0.5em;
  font-family: 'Poppins';
}

.submit-button{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    background-color:  #625548;
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 2vh;
    border: none;
    cursor: pointer;
}
.submit-button:hover{
  background-color:  #75675a;;
}
.submit-button:focus{
  background-color:  #958471;
}

@media only screen and (max-width: 600px) {
  .form-container {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.arapey-regular {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

.arapey-regular-italic {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: italic;
}


