.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    }
    .popup-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    left: 35%;
    right: 35%;
    bottom: 35%;
    top: 35%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .submit-button{
      color: #FFF7CF;
      text-align: center;
      font-size: 15px;
      letter-spacing: 3px;
      background-color:  #8F021E;
      padding: 0.7em 1em 0.7em 1em;
      border-radius: 2vh;
      border: none;
      cursor: pointer;
      width:100px;
  }
  .submit-button:hover{
    background-color:  #610013;
  }
  .submit-button:focus{
    background-color:  #8f132c;
  }
    .popup-button{
        border-radius: 1vh;
        border:none;
        background-color:  #8F021E;
        color: #FFF7CF;
        padding: 10px 5px;
        width:100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "lato", serif;
        font-weight: 400;
        cursor: pointer;
    }
    .popup-button:hover{
      background-color:  #610013;
    }
    .popup-button:focus{
      background-color:  #8f132c;
    }

    .popup-text-container{
        margin-bottom: 10%;
    }
    @media only screen and (max-width: 600px) {
        .popup-body {
            padding: 5%;
            left: 15%;
            right: 15%;
            bottom: 35%;
            top: 35%;
      }
      .popup-button{
        border-radius: 1vh;
        padding: 5% 3%;
        width:90%;

      }
    }